*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
}

header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
}


.login{
    width: 80px;
    height: 30px;
}

.main-content{
    margin-top: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
}

footer{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookCard{
    height: 15rem;
    width: 15rem;
    padding: 20px;
    border-radius: 10px;
    background-color: beige;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grid-item-container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.add-book{
    height: 5rem;
    width: 10rem;
}

.add-book-container{
    display:flex;
    justify-content: center;
    align-items: center;
}